body.dark {
  --text-color: #{$gray-300};
  --text-secondary-color: #{$gray-400};
  --background-color: #{$gray-900};

  --button-background: #{$blue};
  --button-hover-background: #{lighten($blue, 5%)};
  --button-text-color: #{$white};
  --button-focus-border-color: #{$blue-600};

  --link-button-color: #{lighten($blue-400, 3%)};
  --link-button-hover-color: #{$blue-400};
  --link-button-selected-hover-color: #{$blue-300};

  --secondary-button-background: #{$gray-800};
  --secondary-button-hover-background: var(--secondary-button-background);
  --secondary-button-text-color: var(--text-color);
  --secondary-button-focus-shadow-color: #{rgba($gray-200, 0.75)};
  --secondary-button-focus-border-color: #{$gray-300};

  --base-border: 1px solid #{$black};

  --shadow-color: #{rgba(black, 0.5)};
  --base-box-shadow: 0 2px 7px var(--shadow-color);

  --box-background-color: #{darken($gray-900, 3%)};
  --box-background-secondary-color: #{darken($gray-900, 1%)};
}
