@use "sass:color";
@use "../colors";

body.dark {
  --text-color: #{colors.$gray-300};
  --text-secondary-color: #{colors.$gray-400};
  --background-color: #{colors.$gray-900};

  --button-background: #{colors.$blue};
  --button-hover-background: #{color.adjust(colors.$blue, $lightness: 5%)};
  --button-text-color: #{colors.$white};
  --button-focus-border-color: #{colors.$blue-600};

  --link-button-color: #{color.adjust(colors.$blue-400, $lightness: 3%)};
  --link-button-hover-color: #{colors.$blue-400};
  --link-button-selected-hover-color: #{colors.$blue-300};

  --secondary-button-background: #{colors.$gray-800};
  --secondary-button-hover-background: var(--secondary-button-background);
  --secondary-button-text-color: var(--text-color);
  --secondary-button-focus-shadow-color: #{rgba(colors.$gray-200, 0.75)};
  --secondary-button-focus-border-color: #{colors.$gray-300};

  --base-border: 1px solid #{colors.$black};

  --shadow-color: #{rgba(black, 0.5)};
  --base-box-shadow: 0 2px 7px var(--shadow-color);

  --box-background-color: #{color.adjust(colors.$gray-900, $lightness: -3%)};
  --box-background-secondary-color: #{color.adjust(colors.$gray-900, $lightness: -1%)};
}
